:root{
      --textcolor: rgb(10,10,10)
}

*{
      margin: 0px;
      padding: 0px;
      font-family: sans-serif;
      color: var(--textcolor);
      box-sizing: border-box;
}

.content{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-flow: row wrap;
}

.picture{
      width: 30vw;
      background-image: url(maximus2.jpeg);
      background-size: cover;
      
}

.right{
      width: 70vw;
      background-color: rgb(240,240,240);
      display: flex;
      flex-flow: column wrap;
      
}

.text{
      width: 90%;
      font-size: 1.5rem;
      font-weight: 600;
}

.left{
      padding-left: 2vw;
      padding-top: 2vw;
}

.sign-up-text{
      margin-top: 40px ;
      margin-bottom: 60px;
}

.form{
      background-color: rgb(250,250,250);
      display: flex;
      flex-flow: row wrap;
      gap: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
}

.input{
      display: flex;
      flex-flow: column wrap;
      width: 40%;
      text-transform: uppercase;
      opacity: 70%;
      font-size: 0.9rem;
      padding-bottom: 2px;
      
}

input{
      background-color: rgb(240,240,240);
      border: 1px solid rgb(50,50,50);
      border-radius: 4px;
      margin-top: 3px;
      min-height: 3.5vh;
}

.label{
      padding-bottom: 3px;
      margin-bottom: 2px;
}

.form-title{
      width: 100%;
      font-size: 1.2rem;
      font-weight: 600;
      color: #a27019;
}

button{
      background-color: #a27019;
      color: white;
      border: 2px solid #a27019;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 10px 25px;
      margin: 40px, 0px;
}

.login{
      font-size: 1rem;
}

a{
      color: #a27019;
      text-decoration: none;
      font-weight: 500;
}

button:hover{
      transform: translateY(1px);
      box-shadow: 0 1px 0 0 #a27019;
}
button:active{
      transform: translateY(2px);
      box-shadow: 0 1px 0 0 #a27019;
}


